@import 'google-fonts';
@import 'sticky-footer';
@import 'variable-overrides';
@import '../node_modules/bootstrap/scss/bootstrap';


body::-webkit-scrollbar {
  display: none;
}

////////////
/// custom scrollbar
// body::-webkit-scrollbar {
//   width: 5px;
//   height: 8px;
//   background-color: #aaa;
//   /* or add it to the track */
// }

// /* Add a thumb */

// body::-webkit-scrollbar-thumb {
//   background: #000;
// }
////////////


main .row:first-of-type {
  margin-top: 100px;
}

.basket-section {
  height: 83px;
}

main .card .row:first-of-type {
  margin-top: 0;
}

main .row.filter-row {
  margin-top: 15px;
}

.photo {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.logo-text {
  font-family: 'Cinzel';
  font-weight: 700;
  display: inline-block;
  color: #42484e;
  font-size: 30px;
  margin-top: 5px;
}

.logo {
  height: 100%;
  width: 45px;
  margin: 5px;
}

.card-text {
  height: 100%;
}

footer {
  background-color: #a4c0db;
}

//////////////////////

.navigation-section {

  background-color: #a4c0db;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: 0px 2px 7px #b0b7be;
}

.card {
  box-shadow: 2px 2px 7px #ced4d8;
}


//////////////////////
// hero

.hero {
  width: 100vw;
  height: 100vh;
  background-image: url('./img/bookstore.jpg');
  background-size: cover;
  background-position: center;
  aspect-ratio: 1 / 1;
}

.hero-cover {
  width: 100%;
  height: 100%;
  background-color: #5c697598;
}

.hero-text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 35vh;
  width: 50vw;
  color: white;
  font-size: 1.8rem;
}

.hero-text p {
  text-shadow: 5px 10px 10px#42484e;
}

.logo-text.big {
  font-size: 2.5rem;
  color: white;
  text-shadow: 5px 10px 10px#42484e;
}

.checkOutTheBooks {
  background-color: #a4c0db;
  outline-color: white;
}

.checkOutTheBooks:hover {
  outline-color: white;
  background-color: white;
  color: black;
}


////////////////////////
// /////////////////////
// 992px and bigger
@media (min-width: 992px) {

  .navbar-toggler.burgerButton {
    display: none;
  }

  .navbar-toggler.basketButton {
    justify-content: flex-end;
  }
}

// up to 992px
@media (max-width: 992px) {
  .book-cover img {
    max-height: 250px;
    margin-bottom: 30px;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
}



// up to 576px
@media (max-width: 576px) {

  body,
  .form-control {
    font-size: 1rem;
  }

  .card-body p:first-of-type {
    margin-top: -20px;
  }

  .logo-text,
  .footer-text {
    margin-top: 5px;
    font-size: 20px;
  }

  .btn {
    font-size: 16px;
    padding: 5px 10px;
  }

  .footer-text {
    font-size: 15px;
  }

  footer .logo {
    // display: none;
    height: 20px;
    margin: 0;
  }

  .logo-text.big {
    line-height: 1;
    font-size: 1.5rem;
  }

  .hero-text {
    font-size: 1.2rem;
  }

  .logo {
    width: 35px;
  }

  .basket-section {
    height: 65px;
  }

  button.basketButton.navbar-toggler,
  button.burgerButton.navbar-toggler {
    width: 35px;
    height: 35px;
    padding: 0;
  }

  svg.bi.bi-basket3,
  svg.bi.bi-basket3-fill,
  .basketButton svg,
  .navbar-toggler-icon {
    width: 25px;
    height: 25px;
    border-radius: 1px;
  }

  .card img {
    max-height: 250px;
    margin-bottom: 30px;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  .offcanvas {
    --#{$prefix}offcanvas-width: min(95vw, 340px) !important;
  }

}


/////////////////////////////////////////
// GALAXY fold - style, if there should be any 

@media (max-width: 350px) {

  body,
  .form-control {
    font-size: 0.8rem;
  }

  .btn {
    font-size: 16px;
    padding: 5px 10px;
    margin-bottom: 5px;
  }

  .card-body p:first-of-type {
    margin-top: -15px;
  }

  .logo-text {
    font-size: 18px;
  }

  .footer-text {
    font-size: 15px;
  }

  .logo {
    display: none;
  }

  .basket-section {
    height: 55px;
  }

  button.basketButton.navbar-toggler,
  button.burgerButton.navbar-toggler {
    margin-top: 5px;
    width: 30px;
    height: 30px;
  }

  svg.bi.bi-basket3,
  .navbar-toggler-icon,
  svg.bi.bi-basket3-fill,
  .basketButton svg {
    width: 18px;
    height: 18px;
  }
}