@import 'google-fonts';
@import 'sticky-footer';
@import 'variable-overrides';
@import '../node_modules/bootstrap/scss/bootstrap';


body::-webkit-scrollbar {
  display: none;
}

main .row:first-of-type {
  margin-top: 100px;
}

.basket-section {
  height: 83px;
}

main .card .row:first-of-type {
  margin-top: 0;
}

.photo {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.logo-text {
  font-family: 'Cinzel';
  font-weight: 700;
  display: inline-block;
  color: #42484e;
  font-size: 30px;
  margin-top: 5px;
}

.logo {
  height: 100%;
  width: 45px;
  margin: 5px;
}

// ////////////////////


.navigation-section {
  background-image: url('https://source.unsplash.com/random/?background');
  // background-color: #a4c0db;
  background-size: cover;
  background-attachment: fixed;
}

// /////////////////////
// 1200px and bigger
@media (min-width: 992px) {

  .navbar-toggler.burgerButton {
    display: none;
  }

  .navbar-toggler.basketButton {
    justify-content: flex-end;
  }
}

// up to 600px
@media (max-width: 600px) {

  .logo-text,
  .footer-text {
    margin-top: 5px;
    font-size: 20px;
  }

  .logo {
    width: 30px;
  }

  .basket-section {
    height: 65px;
  }

  button.basketButton.navbar-toggler,
  button.burgerButton.navbar-toggler {
    width: 40px;
    height: 30px;
    padding: 0;
  }

  svg.bi.bi-basket3,
  .navbar-toggler-icon {
    width: 25px;
    height: 20px;
    border-radius: 1px;
  }
}


/////////////////////////////////////////
// GALAXY fold - style, if there should be any 
@media (max-width: 350px) {

  .logo-text,
  .footer-text {
    font-size: 18px;
  }

  nav .logo {
    display: none;
  }

  .basket-section {
    height: 55px;
  }

  button.basketButton.navbar-toggler,
  button.burgerButton.navbar-toggler {
    width: 25px;
    height: 25px;
  }

  svg.bi.bi-basket3,
  .navbar-toggler-icon {
    width: 15px;
    height: 15px;
  }
}